/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --title-header-text-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --title-text-color: #353430;
  --section-title-color: #353430;
  --button-color: #353430;
  --card-text-color:#353430;
  --text-shadow-header: #FF8DCB;
  --color-opacity: #32312D66;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #FFF1F7;
    --title-header-text-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --title-text-color: #353430;
    --section-title-color: #353430;
    --button-color: #353430;
    --card-text-color:#353430;
    --text-shadow-header: #FF8DCB;
    --color-opacity: #32312D66;
  }

  .rec-label {
    display: none;
  }
}